# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/

# VSCode
.vscode/

# PyInstaller build
build/
dist/
*.spec

# OS/Editor
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.vmd

# Wheel/egg
*.egg
*.whl
